{{ zimaboard_nfs_media_directory }}    {{ zimaboard_nfs_shared_ip_range }}(rw,sync,no_subtree_check)
{{ zimaboard_nfs_backups_directory }}   {{ zimaboard_nfs_shared_ip_range }}(rw,sync,no_subtree_check)
{{ zimaboard_nfs_postgres_backup_directory }}   {{ zimaboard_nfs_shared_ip_range }}(rw,sync,no_subtree_check)
