# {{ ansible_managed }}
---

services:
  smartctl-exporter:
    image: "prometheuscommunity/smartctl-exporter:{{ smartctl_exporter_version }}"
    container_name: smartctl-exporter
    restart: unless-stopped
    privileged: true
    user: root
    ports:
      - "{{ smartctl_exporter_port }}:9633"
    networks:
      - {{ docker_network_name }}

networks:
    {{ docker_network_name }}:
       external: true
