# {{ ansible_managed }}
---

services:
  nginx:
    image: nginx:{{ nginx_version }}
    restart: unless-stopped
    ports:
        - "80:80"
    volumes:
        - {{ config_dir }}/nginx/conf.d:/etc/nginx/conf.d
    networks:
        - {{ docker_network_name }}
networks:
  {{ docker_network_name }}:
    external: true
