# {{ ansible_managed }}
[Unit]
Description=Credential broker for agent host
After=network.target squid.service
Requires=squid.service

[Service]
ExecStart=/usr/local/bin/credential-broker
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
